<div class="my-5 justify-content-center text-center ">
  <h1 class="h1-seo mt-4"> Automatic short answer grading (ASAG) </h1>
  <h3 >This service allows the user to use an Automated Short Answer Grading System. <br>
      This system is supposed to be capable of assessing students&#39; answers with a mark
      approximately near that given manually by the teacher..</h3>
  <h1 class="h1-seo  "> Arabic natural language processing (arNLP) </h1>
  <h3>This service allows the user to use several pre-processing techniques <br>
    in natural language processing for Arabic language such as: <br>
    Tokenization, Diacretization, Stemming, Removing Stop words.
  </h3>
</div>
